.skill_icon::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .skill_icon::after {
    content: "";
    position: absolute;
    bottom: 140%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .skill_icon:hover::before,
  .skill_icon:hover::after {
    visibility: visible;
    opacity: 1;
  }
.services_con {
    height: 450px;
    background-color: #fff;
    text-align:center;
    overflow: hidden;

    & .services_title {
        margin-top: 40px;
        font-size: 32px;
        font-weight: bold;
    }   
    & .services_list {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        & .services_items {
            width: 250px;
            margin: 0 50px;

            & svg {
                width: 80px;
                height: 80px;
                color: #0085ff;
            }

            & h4 {
                color: #0085ff;
                font-size: 24px;
                font-weight: bold;
                margin: 25px 0;
            }
        }
    }
    
}
.services_con .services_list .services_items p svg {
    width: 40px; 
    height: 40px; 
    color: black;
    margin-right: 10px;
  }

  